.ccontainer .card {
  position: relative;
  border-radius: 10px;
}

.ccontainer .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.7s;
  z-index: 1;
}

.ccontainer .card .icon {
  background: #ffffffdb;
}
.ccontainer .card .icon img {
  height: 100%;
  width: 100%;
}

/* .ccontainer .card:nth-child(2) .icon {
  background: #6eadd4;
}

.ccontainer .card:nth-child(3) .icon {
  background: #4aada9;
} */

.ccontainer .card .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.ccontainer .card .face {
  width: 220px;
  height: 220px;
  border-radius: 400px;
  overflow: hidden;
  transition: 0.5s;
}
.ccontainer .card .facee {
  width: 300px !important;
  height: 200px !important;
}

.ccontainer .card .face.face1 {
  position: relative;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.ccontainer .card:hover .face.face1 {
  background: #d1d1d1;
  transform: translateY(0px);
}

.ccontainer .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.ccontainer .card:hover .face.face1 .content {
  opacity: 1;
}

.ccontainer .card .face.face1 .content i {
  max-width: 100px;
}

.ccontainer .card .face.face2 {
  position: relative;
  background: #ff9500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.436);
  transform: translateY(-100px);
}

.ccontainer .card:hover .face.face2 {
  transform: translateY(0);
}

.ccontainer .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
}

.ccontainer .card .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

.ccontainer a {
  text-decoration: none;
  color: #ffffff;
}
