.ordercart-container {
  z-index: 9999999;
  width: 90%;
  height: 60vh;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shopping-cart {
  /* margin: 20px 0; */
  float: left;
  background: white;
  width: 100%;
  position: relative;
  border-radius: 3px;
  padding: 20px;
}
.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: left;
}
.shopping-cart .shopping-cart-items {
  padding-top: 20px;

  height: 50vh;
  overflow-x: scroll;
}
.shopping-cart .shopping-cart-items li {
  margin-bottom: 5px;
  width: 100%;
  height: 100px;
}
.shopping-cart .shopping-cart-items img {
  float: left;
  /* margin-right: 12px; */
  /* width: 35%; */
  height: 100%;
}
.shopping-cart .shopping-cart-items .item-name {
  display: block;
  /* padding-top: 10px; */
  font-size: 16px;
}
.shopping-cart .shopping-cart-items .item-price {
  display: block;

  font-size: 16px;
}
.shopping-cart .shopping-cart-items .item-quantity {
  color: #abb0be;
}
/* 
.shopping-cart:after {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
} */

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: #ff9500;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 10px 0 15px 0;
  padding: 4px;
}
.button:hover {
  background: #d57c00;
}
.clearfix {
  border: solid #d57c00 1px;
  border-radius: 20px;
  padding: 0 15px 0 0;
  overflow: hidden;
  position: relative;
  /* cursor: pointer; */
}
.clearfix .delete-item {
  height: 100%;
  padding: 10px;
  float: left;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: -10px;

  transition: all 0.2s ease-in-out;
  color: rgb(201, 27, 27);
  z-index: 1;
}

.clearfix .delete-item div {
  font-size: 24px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clearfix .delete-item svg {
  width: 100%;
  height: 100%;
}
/* .clearfix:hover .delete-item {
    transform: translateY(0);
} */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.tebini {
  width: 100%;
  border: #d57c00 solid 3px;
  height: 50px;
  min-height: 50px;
  max-height: 75px;
  max-width: 100%;
  min-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}
.h1-1 {
  text-align: center;
}
.h1-2 {
  text-decoration: none;
  color: #d57c00;

  text-align: center;
}
.h1-2:hover {
  color: #d57c00;
}
