.contact-section2 {
    width: 100%;
    /* height: 73vh; */
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-radius: 40px; */
    /* border-top-left-radius: 40px; */
    /* border-top-right-radius: 40px; */
    background-color: #ff9500;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact-logo-parent {
    display: flex;
    justify-content: space-around;

    /* margin-top: -100px; */
}
.contact-logo {
    /* background-color: #ffff;
  border-radius: 30px;
  width: 15%;
  margin-top: -30px; */
    margin-top: 80px;
}
.contact-logo img {
    width: 100%;
}
.contact-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-content2 {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-map {
    width: 45%;
    height: 50%;
}
.contact-map iframe {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: #ff9500 solid 2px;
}

.contact-card-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
    font-size: 15px;
}

.contact-card-parent-2 {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.contact-card-parent-2 .contact-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    gap: 10px;
}
.contact-card-parent-2 .contact-card {
    max-width: 500px;
}
.contact-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: #ffff;
    text-decoration: none;
}
.contact-card {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.card-number {
    margin: auto 0;
}
.card-number h2 {
    /* line-height: 30px; */
}
.card-icon {
    /* zoom: 150%; */
    /* border: white solid 2px; */
    /* border-radius: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    /* padding: 7px; */
}
.card-icon svg {
    height: 100%;
    width: 100%;
}

.cls-1 {
    fill: #fff;
}
.cls-2 {
    fill: #ff9300;
}
.contact-container {
    flex: 1;
    /* height: calc(100vh - 100px); */
}

@media only screen and (max-width: 990px) {
    .contact-card-parent {
        justify-content: space-around;
    }
}
@media (max-width: 950px) {
    .contact-container {
        /* height: calc(100vh - 100px); */
        /* min-height: calc(100vh); */
        padding-bottom: 20px;
    }
    .contact-content {
        gap: 20px;
        /* flex: 1; */
        width: 100%;
        /* margin-bottom: 100px; */
    }

    .contact-map {
        width: 80%;
        height: 50%;
        margin-top: 4%;
    }
    .card-number {
        font-size: 3vmin;
    }
}
.contact-section {
    position: relative;
}
.contact-section {
    position: relative;
}
.contact-logo-parent {
    position: relative;
    width: 100%;
    height: 100px;
}
.contact-logo-parent .footer-logo {
    position: absolute;
    top: -93%;
}
.created-by {
    border-top: #fff 1px solid;
    width: 100%;
    text-align: center;
    /* background-color: ; */
    font-size: 15px;
}
.created-by-link {
    /* background-color: ; */
    text-decoration: none;
    color: #fff;
    padding-right: 8px;
}
.created-by-link:hover {
    text-decoration: underline;
}
