.brands-section {
  width: 100%;
  height: max-content;
  background-image: url("../../images/brandback.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-brand {
  margin: 0 10%;
}
.ccontainer {
  width: 100%;
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: auto auto auto;
  /* grid-row-gap: -20px; */
}

@media (max-width: 1200px) {
  .ccontainer {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 800px) {
  .ccontainer {
    grid-template-columns: auto;
  }
}

.titleHead {
  text-align: center;
  color: #d87e00;
  font-size: 350%;
}
